footer{
    background-color: rgb(80, 80, 235);
    color: white;
    p{
        color: grey;
        i{
            color: grey;
        }
    }
    h5{
        padding-bottom: 1rem;
    }
}

.btn_send_mail{
    border-radius: 5px;
    background-color: rgb(80, 80, 235);
    border: 1px solid white;
}

